.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  padding: 24px 0 0 16px;
  color: #ffffff;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #ffffff;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #ffffff;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #ffffff;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background-color: #212121;
  font-size: 14px;
  border: 7px solid #212121;
  border-radius: 4px;
  position: relative;
}

.item-left-part {
  position: absolute;
  background: #212121;
  height: 120px;
  width: 150px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 120px;
  margin-left: 150px;
  margin-bottom: 4px;
  color: #fff;
  background-color: #212121;
}

.company {
  background: #212121;
  color: #edf0d1;
}

.item-name {
  background: #212121;
  padding: 0px 0 5px 25px;
  font-size: 20px;
}

.price-container {
  background: #212121;
}

.current-price {
  background: #212121;
}

.discount-percentage {
  background: #212121;
  color: #03a685;
}

.bag-item-img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 2px;
  background: #212121;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
  color: rgb(238, 153, 153);
  background: #212121;
}

.delivery-details {
  margin-top: 5px;
  color: #ffffff;
  background: #212121;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #c0c0f3;
  background: #212121;
}

.remove-from-cart {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: 13px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: #212121;
}
